{% extends "base.html" %}
{% load static %}

{% block title %}
    detail page
{% endblock title %}


{% block content %}


    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %}) ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Single <em>blog post</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <section class='tabs-content'>
              <article>
                <h1 style="text-align: center; font-weight: bold;">{{ detail.title }}</h1> <br> <br> <br>
                <h6><a href="{% url 'blog' %}" class="btn btn-primary" style="margin: 0 0 30px 0;">Back to news</a></h6>

                <p>
                    <h6><i class="fa fa-calendar"></i> Date: {{ detail.created_at }}</h6>
                    <h6><i class="fa fa-eye"></i> Views: {{ detail.views }}</h6>
                </p>

                <div><img src="{{ detail.image.url }}" alt=""></div>
                <br>

                <p>{{ detail.body|safe }}</p>
              </article>
            </section>

            <br>
            <br>
            <br>
        </div>
    </section>
    <!-- ***** Blog End ***** -->


{% endblock content %}