{% extends "base.html" %}
{% load static %}

{% block title %}
    blog page
{% endblock title %}


{% block menu %}

        <!-- ***** Logo Start ***** -->
        <a href="/" class="logo">Food Store <em> Website</em></a>
        <!-- ***** Logo End ***** -->
        <!-- ***** Menu Start ***** -->
        <ul class="nav">

            <li><a href="{% url 'index' %}" >Home</a></li>
            <li><a href="{% url 'products' %}" >Products</a></li>
            <li><a href="{% url 'blog' %}" class="active">Blog</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>  

        </ul>        
        <!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


    <section class="section section-bg" id="call-to-action" style="background-image: url ('{% static "assets/images/banner-image-1-1920x500.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Read our <em>Blog</em></h2>
                        <p>Ut consectetur, metus sit amet aliquet placerat, enim est ultricies ligula</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">              
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-lg-8">
                    <section class='tabs-content'>
                        {% for deta in blok %}
                            <article>
                                <img src="{{ deta.image.url }}" alt="">
                                <h4>{{ deta.title }}</h4>

                                <p>
                                    <h6><i class="fa fa-calendar"></i> Date: {{ deta.created_at }}</h6>
                                    <h6><i class="fa fa-eye"></i> Views: {{ deta.views }}</h6>
                                </p>

                                <p>{{ deta.description }}</p>
                                <div class="main-button">
                                    <a href="{% url 'blog-detail' deta.id %}">Continue Reading</a>
                                </div>
                                <hr>
                            </article>

                            <br>
                            <br>
                      {% endfor %}
                    </section>
                </div>

                <div class="col-lg-4">
                    <h5 class="h5">Search</h5>
                    <div class="modal-body d-flex align-items-center">
                        <div class="input-group w-200 mx-auto d-flex">
                            <form action="{% url 'search' %}" class="input-group w-800 d-flex" method="GET" >
                                <input type="text" class="form-control p-4" placeholder="search" aria-describedby="search-icon-1" name="q">
                                <button id="search-icon-1" type="submit" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <br>

                    <h5 class="h5">Recent posts</h5>
                    <hr>
                    <br>

                    <ul>
                        {% for deta in blok %}
                        <li>
                            <p><a href="{% url 'blog-detail' deta.id %}">{{ deta.title }}</a></p>
                            <small><i class="fa fa-calendar"></i> {{ deta.created_at }} | <i class="fa fa-eye"> {{ deta.views }}</i></small>
                        </li>

                        <li><br></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->


{% endblock content %}
