{% extends "base.html" %}
{% load static %}

{% block title %}
    checkout page
{% endblock title %}


{% block menu %}

<!-- ***** Logo Start ***** -->
    <a href="/" class="logo">AGRO-BRAVO<em> WEBSITE</em></a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">

        <li><a href="{% url 'index' %}" >Bosh sahifa</a></li>
        <li><a href="{% url 'products' %}">Mahsulotlar</a></li>
        <li><a href="{% url 'blog' %}">Yangiliklar</a></li>
        <li><a href="{% url 'about' %}">Kompaniya</a></li>
        <li><a href="{% url 'contact' %}">Kontakt</a></li>  

    </ul>        
<!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


    <section class="section section-bg" id="call-to-action" >
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Buyurtma <em>berish</em></h2>
                        <p>Buyurtma berish uchun ma'lumotlaringizni to'g'ri to'ldiring</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact" action="" method="POST">
                            {% csrf_token %}

                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Ismingiz:</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Email:</label>
                                      {{ form.email }}
                                </div>
                           </div>
                           <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                     <label>Telefon:</label>
                                      {{ form.phone }}
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Manzil:</label>
                                      {{ form.address }}
                                </div>
                           </div>
                           <div class="row">

                                 <div class="col-sm-6 col-xs-12">
                                     <label>Viloyat:</label>
                                      {{ form.district }}

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>To'lov turi:</label>
                                    {{ form.payment }}
                                </div>
                           </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <div class="float-left">
                                            <a href="{% url 'detail' order.product.id %}">Orqaga</a>
                                        </div>

                                        <div class="float-right">
                                           <button type="submit"> Buyurtma berish  </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>
                </div>

                <div class="col-md-4">
                    <ul class="list-group list-group-no-border">
                     
                        {% if order.product.percentage %}
                             <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <h5 class="text-right"><del>{{ order.product.price }} so'm</del></h5>
                            </div>
                         </div>
                     
                        {% endif %}
                    </li>
                        <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Narxi:</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">{{ order.product.get_new_price }} so'm</h5>
                            </div>
                         </div>
                      </li>
                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Soni:</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">{{ order.quantity }} porsiya</h5>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <h4><strong>Jami:</strong></h4>
                            </div>

                            <div class="col-6">
                                <h4 class="text-right">{{ order.get_all_price }} so'm</h4>
                            </div>
                         </div>
                      </li>

                      
                    </ul>

                    <br>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}