{% extends "base.html" %}
{% load static %}

{% block title %}
    checkout page
{% endblock title %}


{% block menu %}

<!-- ***** Logo Start ***** -->
    <a href="/" class="logo">Food Store <em> Website</em></a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">

        <li><a href="{% url 'index' %}" >Home</a></li>
        <li><a href="{% url 'products' %}">Products</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>  

    </ul>        
<!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


    <section class="section section-bg" id="call-to-action" style="background-image: url({% static 'assets/images/banner-image-1-1920x500.jpg' %}) ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Easy <em>Checkout</em></h2>
                        <p style="color: blueviolet; font-size: larger; margin: 100px 0 0 0; font-weight: bold;">Bu yerdan buyurtma qilish juda qulay</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <form id="contact" action="" method="POST">
                            {% csrf_token %}

                           <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                     <label>Name:</label>
                                    {{ form.name }}
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Email:</label>
                                      {{ form.email }}
                                </div>
                           </div>
                           <div class="row">

                                <div class="col-sm-6 col-xs-12">
                                     <label>Phone:</label>
                                      {{ form.phone }}
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Address:</label>
                                      {{ form.address }}
                                </div>
                           </div>
                           <div class="row">

                                 <div class="col-sm-6 col-xs-12">
                                     <label>District:</label>
                                      {{ form.district }}

                                </div>
                                <div class="col-sm-6 col-xs-12">
                                     <label>Payment:</label>
                                    {{ form.payment }}
                                </div>
                           </div>
                            
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="main-button">
                                        <div class="float-left">
                                            <a href="{% url 'detail' order.product.id %}">Back</a>
                                        </div>

                                        <div class="float-right">
                                           <button type="submit"> Submit </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <br>
                </div>

                <div class="col-md-4">
                    <ul class="list-group list-group-no-border">
                     
                        {% if order.product.percentage %}
                             <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Old Price</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right"><del>{{ order.product.price }} so'm</del></h5>
                            </div>
                         </div>
                     
                        {% endif %}
                    </li>
                        <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>New Price</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">{{ order.product.get_new_price }} so'm</h5>
                            </div>
                         </div>
                      </li>
                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <strong>Quantity</strong>
                            </div>

                            <div class="col-6">
                                <h5 class="text-right">{{ order.quantity }} porsiya</h5>
                            </div>
                         </div>
                      </li>

                      <li class="list-group-item" style="margin:0 0 -1px">
                         <div class="row">
                            <div class="col-6">
                                <h4><strong>Total</strong></h4>
                            </div>

                            <div class="col-6">
                                <h4 class="text-right">{{ order.get_all_price }} so'm</h4>
                            </div>
                         </div>
                      </li>

                      
                    </ul>

                    <br>
                </div>
            </div>
        </div>
    </section>


{% endblock content %}