{% extends "base.html" %}
{% load static %}

{% block title %}
  contact page
{% endblock title %}


{% block menu %}
    
<!-- ***** Logo Start ***** -->
  <a href="/" class="logo">AGRO-BRAVO<em> WEBSITE</em></a>
  <!-- ***** Logo End ***** -->
  <!-- ***** Menu Start ***** -->
  <ul class="nav">

      <li><a href="{% url 'index' %}" >BOSH SAHIFA</a></li>
      <li><a href="{% url 'products' %}" >MAHSULOTLAR</a></li>
      <li><a href="{% url 'blog' %}" >YANGILIKLAR</a></li>
      <li><a href="{% url 'about' %}" >KOMPANIYA</a></li>
      <li><a href="{% url 'contact' %}" class="active">KONTAKT</a></li>  

  </ul>        
<!-- ***** Menu End ***** -->
  
{% endblock menu %}


{% block content %}



  <section class="section section-bg" id="call-to-action" >
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="cta-content">
            <br>
            <br>
            <h2>Korxona bilan <em> Bog'lanish</em></h2>
            <p>Sizni qiziqtirgan savol va takliflaringiz bo'lsa biz bog'laning. Biz sizga yordam berishdan mamnunmiz </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ***** Features Item Start ***** -->
  <section class="section" id="features">
      <div class="container">
          <div class="row text-center">
              <div class="col-lg-6 offset-lg-3">
                  <div class="section-heading">
                      <h2>kontakt <em> ma'lumotlari</em></h2>
                      <img src="{% static 'assets/images/line-dec.png' %}" alt="waves">
                      
                  </div>
              </div>

              <div class="col-md-4">
                  <div class="icon">
                      <i class="fa fa-phone"></i>
                  </div>

                  <h5><a href="#">+998 88 640 80 40</a></h5>

                  <br>
              </div>

              <div class="col-md-4">
                  <div class="icon">
                      <i class="fa fa-envelope"></i>
                  </div>

                  <h5><a href="#">norqulovramazon9@gmail.com</a></h5>

                  <br>
              </div>

              <div class="col-md-4">
                  <div class="icon">
                      <i class="fa fa-map-marker"></i>
                  </div>

                  <h5>Yunusobod tumani, Amir Temur shoh ko'chasi 118-uy</h5>

                  <br>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Features Item End ***** -->

  <!-- ***** Contact Us Area Starts ***** -->
  <section class="section" id="contact-us" style="margin-top: 0">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-12">
                  <div id="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2995.529613676344!2d69.28403887553145!3d41.34084089888199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b8a0bfe27d9%3A0x29bcda9dd27c336a!2sTATU!5e0!3m2!1suz!2s!4v1715609760302!5m2!1suz!2s" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-12">
                  <div class="contact-form section-bg" style="background-image: url ('{% static "sassets/images/contact-1-720x480.jpg" %}')">
                      <form id="contact" action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="name" type="text" id="name" placeholder="Ismingizni kiriting*" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-6 col-sm-12">
                            <fieldset>
                              <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Emailingizni kiriting*" required="">
                            </fieldset>
                          </div>
                          <div class="col-md-12 col-sm-12">
                            <fieldset>
                              <input name="subject" type="text" id="subject" placeholder="Xabar yuborishdan qisqacha maqsad">
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <textarea name="message" rows="6" id="message" placeholder="Xabar yozing ..." required=""></textarea>
                            </fieldset>
                          </div>
                          <div class="col-lg-12">
                            <fieldset>
                              <button type="submit" id="form-submit" class="main-button">Yuborish</button>
                            </fieldset>
                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ***** Contact Us Area Ends ***** -->


{% endblock content %}