{% extends "base.html" %}
{% load static %}

{% block title %}
     home page
{% endblock title %}


{% block menu %}

<!-- ***** Logo Start ***** -->
     <a href="/" class="logo">AGRO-BRAVO<em> WEBSITE</em></a>
     <!-- ***** Logo End ***** -->
     <!-- ***** Menu Start ***** -->
     <ul class="nav">

          <li><a href="{% url 'index' %}" class="active">BOSH SAHIFA</a></li>
          <li><a href="{% url 'products' %}">MAHSULOTLAR</a></li>
          <li><a href="{% url 'blog' %}">YANGILIKLAR</a></li>
          <li><a href="{% url 'about' %}">KOMPANIYA</a></li>
          <li><a href="{% url 'contact' %}">KONTAKT</a></li>  

     </ul>        
<!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


     <!-- ***** Main Banner Area Start ***** -->
     <div class="main-banner" id="top">
          <video autoplay muted loop id="bg-video">
               <source src="{% static 'assets/images/agro-video.mp4' %}" type="video/mp4" />
          </video>

          <div class="video-overlay header-text">
               <div class="caption">
                    <h6>Shahardagi eng yaxshi sut mahsulotlarini qayta ishlovchi korxona</h6>
                    <h2>agro <em> bravo</em></h2>
               </div>
          </div>
     </div>
     <!-- ***** Main Banner Area End ***** -->


     <!-- ***** Cars Starts ***** -->
     <section class="section" id="trainers">
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                         <div class="section-heading">
                              <h2>bizning <em>mahsulotlar</em></h2>
                              <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                              <p>Korxonamiz tomonidan ishlab chiqarilgan mahsulotlarni bazilarini shu yerda ko'rishingiz mumkin</p>
                         </div>
                    </div>
               </div>
               <div class="row">
                    {% for each_product in random_three_products %}
                        <div class="col-lg-4">
                            <div class="trainer-item">
                                <div class="image-thumb">

                                    <img src="{{ each_product.images.first.image.url }}" alt="imagen">
                                    
                                </div>
                                <div class="down-content">
                                    <span>
                                        {% if each_product.percentage %}
                                            <del>{{ each_product.price }}so'm</del> <br> {{ each_product.get_new_price }}so'm
                                        {% else %}
                                            {{ each_product.price }}so'm
                                        {% endif %}
                                    </span>
    
                                    <h4>{{ each_product.title }}</h4>
    
                                    <p>{{ each_product.description }}</p>
    
                                    <ul class="social-icons">
                                        <li><a href="{% url 'detail' each_product.id %}">Batafsil</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
    

               <br>

               <div class="main-button text-center">
                    <a href="{% url 'products' %}">Ko'proq mahsulotlarni ko'rish uchun bosing</a>
               </div>
          </div>
     </section>
     <!-- ***** Cars Ends ***** -->


     <section class="section section-bg" id="schedule" style="background-image: url('{% static "assets/images/about-fullscreen-1-1920x700.jpg" %}')">
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                         <div class="section-heading dark-bg">
                              <h2>Korxona haqida <em>ma'lumot</em></h2>
                                   <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                              <p><strong><em>Agro Bravo</em></strong> yangilangan sut mahsulotlari bilan xursand qiladi! 🥛 Har bir <strong><em>Agro Bravo</em></strong> mahsuloti o'ziga xos ta'm va yuqori sifatga ega. Yangilangan qadoqli mahsulotarimiz allaqachon shahardagi do'kon rastalarida, siz ozingiz sevgan sut mahsulotlarini topishingiz mumkin.
                                   💫 Yangilik, qulaylik va didni o‘zida mujassam etgan mahsulotlarimizning yangi dizayniga baho bering.</p>
                         </div>
                    </div>
               </div>
               <div class="row">
                    <div class="col-lg-12">
                         <div class="cta-content text-center">
                              <p>Muzqaymoq - ishlab chiqarish, sotish, Oziq-ovqat mahsulotlari - Yog‘-moy mahsulotlari, Sariq yog‘-ishlab chiqarish, Sut mahsulotlari - ishlab chiqarish, sotish, Yog‘-moy mahsulotlari - sotish, ishlab chiqarish</p>

                              <p>TOSHKENT SHAHRI BO’YLAB SUT MAHSULOTLARINI BEPUL YETKAZIB BERAMIZ!
                                   😋 «Agro Bravo»dan yangi va tabiiy sut mahsulotlari to’plamlari bilan o’zingizni va yaqinlaringizni xursand qiling!
                                   ✅ Biz har qanday xohish va byudjetga mos turli xil to’plamlarni taklif etamiz, shuningdek, Toshkent bo’ylab bepul yetkazib beramiz!
                                   «Agro Bravo» - siz va sog’ligingiz haqida g’amxo’rlik!</p>
                         </div>
                    </div>
               </div>
          </div>
     </section>


    <!-- ***** Blog Start ***** -->
    <section class="section" id="our-classes">
     <div class="container">
         <div class="row">
             <div class="col-lg-6 offset-lg-3">
                 <div class="section-heading">
                     <h2>BLOGIMIZNI <em>O'QING</em></h2>
                     <img src="{% static 'assets/images/line-dec.png' %}" alt="">
                     <p>Korxonamizda olib borilayotgan ishlar haqida barcha yangiliklarni BATAFSIL tugamasini bosish orqali ko'rishingiz mumkin</p>
                 </div>
             </div>
         </div>
         <div class="row" id="tabs">
           <div class="col-lg-4">
             <ul>
               {% for bl in blok %}
                    <li><a href='#tabs-{{ forloop.counter }}'>{{ bl.title }}</a></li>
               {% endfor %}
               <div class="main-rounded-button"><a href="{% url 'blog' %}">BATAFSIL</a></div>
             </ul>
           </div>
           <div class="col-lg-8">
             <section class='tabs-content'>
               {% for blokk in blok %}
               <article id='tabs-{{ forloop.counter }}'>
                    <img src="{{ blokk.image.url }}" alt="rasm bor bera">
                    <h4>{{ blokk.title }}</h4>

                    <p><i class="fa fa-calendar"></i> {{ blokk.created_at |date:'m.d.y/H:i' }} &nbsp;|&nbsp; <i class="fa fa-eye"></i> {{ blokk.views }} </p>
                    <p>{{ blokk.description }}</p>
                    <div class="main-button">
                         <a href="{% url 'blog-detail' blokk.id %}">Continue Reading</a>
                    </div>
               </article>
               {% endfor %}
             </section>
           </div>
         </div>
     </div>
 </section>
 <!-- ***** Blog End ***** -->


     <!-- ***** Call to Action Start ***** -->
     <section class="section section-bg" id="call-to-action" style="background-image: url('{% static "assets/images/banner-image-1-1920x500.jpg" %}')">
          
     </section>
     <!-- ***** Call to Action End ***** -->


     <!-- ***** Testimonials Item Start ***** -->
     <section class="section" id="features">
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 offset-lg-3">
                         <div class="section-heading">
                              <h2>KOMPANIYA HAQIDA <em>FIKRLAR</em></h2>
                              <img src="{% static 'assets/images/line-dec.png' %}" alt="waves">
                              <p>Bu yerda siz bizning mahsulotarimizga berilgan mashhur insonlar ta'riflarini ko'rishingiz mumkin</p>
                         </div>
                    </div>
                    <div class="col-lg-6">
                         <ul class="features-items">
                              {% for each_sharh in random_four_testimonials %}
                                   {% if forloop.counter <= 2 %}
                                        <li class="feature-item">
                                             <div class="left-icon">
                                                  <img src="{{ each_sharh.image.url }}" alt="First One">
                                             </div>
                                             <div class="right-content">
                                                  <h4>{{ each_sharh.name }}</h4>
                                                  <p><em>"{{ each_sharh.description|slice:50 }}..."</em></p>
                                             </div>
                                        </li>
                                        
                                   {% endif %}
                              {% endfor %}
                         </ul>
                    </div>
                    <div class="col-lg-6">
                         <ul class="features-items">
                              {% for each_sharh in random_four_testimonials %}
                              {% if forloop.counter >= 3 %}
                                   <li class="feature-item">
                                        <div class="left-icon">
                                             <img src="{{ each_sharh.image.url }}" alt="First One">
                                        </div>
                                        <div class="right-content">
                                             <h4>{{ each_sharh.name }}</h4>
                                             <p><em>"{{ each_sharh.description }}"</em></p>
                                        </div>
                                   </li>
                              {% endif %}
                         {% endfor %}
                         </ul>
                    </div>
               </div>

               <br>

               <div class="main-button text-center">
                    <a href="{% url 'sharhlar' %}">Batfsil</a>
               </div>
          </div>
     </section>
     <!-- ***** Testimonials Item End ***** -->
     


{% endblock content %}