{% extends "base.html" %}
{% load static %}

{% block title %}
     home page
{% endblock title %}


{% block menu %}

<!-- ***** Logo Start ***** -->
  <a href="/" class="logo">Food Store <em> Website</em></a>
  <!-- ***** Logo End ***** -->
  <!-- ***** Menu Start ***** -->
  <ul class="nav">

      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'products' %}" class="active">Products</a></li>
      <li><a href="{% url 'blog' %}">Blog</a></li>
      <li><a href="{% url 'about' %}">About Us</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>  

  </ul>        
<!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


    <!-- ***** Call to Action Start ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url('{% static "assets/images/banner-image-1-1920x500.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>

                        <h2>
                          {% if product.percentage %}
                          <del>{{ product.price }}so'm </del>
                          {% endif %}
                          
                          <br> <em>{{ product.get_new_price }} so'm </em></h2><br><br>
                        <h2>{{ product.title }} </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section">
      <div class="container">
          <br>
          <br>

          <div class="row">
            <div class="col-md-8">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  {% for sikl in product.images.all %}
                   
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}"  {% if forloop.counter == 1 %} class="active" {% endif %}></li>
                      
                  {% endfor %}
                  
                </ol>
                <div class="carousel-inner">
                  {% for rasm in product.images.all %}
                  <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">
                    {% if rasm %}
                    <img class="d-block w-100" src="{{ rasm.image.url }}" alt="{{ forloop.counter }} slide">
                    {% endif %}
                  </div>
                  {% endfor %}
                 
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>

              <br>
            </div>

            <div class="col-md-4">
              <div class="contact-form">
                  
                <form  id="contact" method="POST">
                    {% csrf_token %}
                  <div class="form-group">
                    <p>  {{ product.description }}  </p>
                  </div>
                  
                  <div class="row">
                    <div class="col-md-6">
                      <label>Quantity</label>
                      <input type="text" name="quantity", value=1>
                    </div>
                  </div>
                  
                  <div class="main-button">
                      <button type="submit"> Add to Cart</button>
                  </div>
                </form>
                  
              </div>

              <br>
            </div>
          </div>
      </div>
  </section>
    <!-- ***** Fleet Ends ***** -->

  {% endblock content %}