{% extends "base.html" %}
{% load static %}

{% block title %}
    product page
{% endblock title %}

{% block menu %}

<!-- ***** Logo Start ***** -->
    <a href="/" class="logo">Food Store <em> Website</em></a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul class="nav">

        <li><a href="{% url 'index' %}" >Home</a></li>
        <li><a href="{% url 'products' %}" class="active">Products</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>  

    </ul>        
<!-- ***** Menu End ***** -->

{% endblock menu %}


{% block content %}


    <!-- ***** Call to Action Start ***** -->

    <section class="section section-bg" id="call-to-action" style="background-image: url ('{% static "assets/images/banner-image-1-1920x500.jpg" %}') ">

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Our <em>Products</em></h2>
                        <p>Welcome to our food store, You can find several delicious food with seasonable prices</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->

    <!-- ***** Fleet Starts ***** -->
    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>

            <div class="row">
                {% for each_product in products_all %}
                    <div class="col-lg-4">
                        <div class="trainer-item">
                            <div class="image-thumb">
                                <a href="{% url 'detail' each_product.id %}"> <img src="{{ each_product.images.first.image.url }}" alt="image"></a>
                            </div>
                            <div class="down-content">
                                <span>
                                    {% if each_product.percentage %}
                                    <del><sup>$</sup>{{ each_product.price }}</del> <sup>$</sup>{{ each_product.get_new_price }}
                                    {% else %}
                                        <sup>$</sup>{{ each_product.price }}
                                    {% endif %}
                                </span>

                                <h4>{{ each_product.title }}</h4>

                                <p> {{ each_product.description }} </p>

                                <ul class="social-icons">
                                    <li><a href="{% url 'detail' each_product.id %}">+ Order</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                {% endfor %}
            </div>

            <br>
                
            <nav>
                <ul class="pagination pagination-lg justify-content-center">
                    {% if products_all.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ products_all.previous_page_number }}"><i class="fa fa-angle-left"></i> </a></li>
                    
                    {% else %}
                        <li class="page-item disabled"><a class="page-link disabled" href=""><i class="fa fa-angle-left"></i></a></li>

                    {% endif %}
                

                    {% for page in products_all.paginator.page_range %}
                         
                    {% if products_all.number == page %}

                        <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                    
                    {% endif %}
                    {% endfor %}
                    {% if products_all.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ products_all.next_page_number }}"><i class="fa fa-angle-right"></i> </a></li>
                    
                    {% else %}
                        <li class="page-item disabled"><a class="page-link disabled" href=""><i class="fa fa-angle-right"></i> </a></li>

                    {% endif %}
                
                  
                
                </ul>
            </nav>

        </div>
    </section>
    <!-- ***** Fleet Ends ***** -->

    
{% endblock content %}