{% extends "base.html" %}
{% load static %}

{% block title %}
    search page
{% endblock title %}



<!-- 
{% block menu %}
    <a href="{% url 'home:home' %}" class="nav-item nav-link  ">Home</a>
    {% for category in kategoriyalar %}
        <a href="{% url 'home:category' category.slug %}" class="nav-item nav-link" >{{ category.name }}</a>
    {% endfor %}

    <a href="{% url 'home:contact' %}" class="nav-item nav-link">Contact Us</a>
{% endblock menu %} -->

{% block content %}


    <section class="section section-bg" id="schedule" style="background-image: url('{% static "assets/images/about-fullscreen-1-1920x700.jpg" %}')">
        
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class=" col-lg-6 offset-lg-3 " style="color:initial">
            <h1>Search Results</h1>
            <img style="padding: 0 0 0 120px;" src="{% static 'assets/images/line-dec.png' %}" alt="">
        </div>
    </section>

{% for yangi in searchs %}

    <div class="container">
        <a href="{% url 'blog-detail' yangi.id %}">
            <h3><b>{{ yangi.title }}</b></h3>
            <img src="{{ yangi.image.url }}" alt="image" style="width: 700px; height: 500px;">
        </a>
        <b><p>Date: {{ yangi.created_at|date:'d-m-Y H:i' }} | Views: {{ yangi.views }}</p></b>
        <hr>
        <br>
        <br>
    </div>

{% endfor %}



{% endblock content %}